.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
}

.field + .field {
  margin-top: 3rem;
}

.field + .button {
  margin-top: 3rem;
}

.button {
}
