.root {
  text-align: center;
}

.label {
  display: block;
}
.label strong,
.label a {
  font-family: var(--fonts-display);
  font-weight: bold;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  text-decoration: none;
}

.label + .input {
  margin-top: 0.5rem;
}

.input {
  appearance: none;
  background: transparent;
  color: var(--colors-primary-text);
  padding: 0.15em;
  border: 0;
  border-bottom: 1px solid;
  outline: 0;
  font-family: var(--fonts-display);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
