.root {
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.option + .option {
  margin-top: 0.75em;
}

.input {
  display: none;
}

.checkbox {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  font-size: 1em;
  border: solid 1px var(--colors-light-text);
  cursor: pointer;
}
.input:checked + .checkbox {
  border: solid 1px var(--colors-dark-text);
}
.input:checked + .checkbox:after {
  content: "X️";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--fonts-mono);
  font-weight: 600;
  color: var(--colors-dark-text);
}

.checkbox + .label {
  margin-left: 1em;
}

.label {
  font-family: var(--fonts-mono);
  font-weight: 300;
  color: var(--colors-dark-text);
  text-transform: uppercase;
  cursor: pointer;
}
.label strong {
  font-family: var(--fonts-display);
  font-weight: bold;
}
