.root {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0;
  font-family: var(--fonts-mono);
  font-weight: 300;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--colors-paper);
  background: var(--colors-primary-text);
  cursor: pointer;
  transition: box-shadow ease 250ms;
}
.root:disabled,
.root:disabled:hover {
  color: var(--colors-paper);
  cursor: not-allowed;
  transform: translate(0, 0);
  box-shadow: none;

  background-color: var(--colors-secondary-text);

  background-image: linear-gradient(
    45deg,
    var(--colors-secondary-text),
    #dad4c4,
    var(--colors-secondary-text)
  );

  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center center;
}
.root:hover {
  box-shadow: inset 0 0 0 1px var(--colors-primary-text),
    inset 0 0 0 2px var(--colors-paper);
}
.root:active {
  box-shadow: inset 0 0 0 1px var(--colors-primary-text),
    inset 0 0 0 3px var(--colors-paper);
}
