.container {
  position: relative;
  padding: 2rem 5%;
}

.title {
  font-family: var(--fonts-display);
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--colors-primary-text);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.title + .content {
  margin-top: 5rem;
}

.header {
  font-family: var(--fonts-display);
  font-weight: normal;
  font-size: 2rem;
  color: var(--colors-primary-text);
  text-align: center;
}

.header + .content {
  margin-top: 3.5rem;
}

.body {
  font-family: var(--fonts-mono);
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--colors-primary-text);
  text-transform: uppercase;
}
.body strong {
  font-family: var(--fonts-display);
  font-weight: bold;
  text-transform: uppercase;
}

.content {
}

.link {
  position: absolute;
  top: 3rem;
  left: 2.5%;

  display: block;

  color: var(--colors-primary-text);
  font-family: var(--fonts-mono);
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transition: color 250ms ease;
}

.link strong {
  font-family: var(--fonts-display);
  font-weight: bold;
}

.link:hover {
  color: var(--colors-secondary-text);
}
