.names {
  font-size: 1.5rem;
}

.name {
  display: block;
  font-family: var(--fonts-mono);
  font-weight: 300;
  color: var(--colors-primary-text);
  text-transform: uppercase;
  text-align: center;
}

.name + .ampersand {
  margin-top: -1.5rem;
}

.ampersand {
  display: block;
  font-family: var(--fonts-display);
  font-size: 10rem;
  line-height: 1em;
  color: var(--colors-secondary-text);
  text-align: center;
}

@media (min-width: 500px) {
  .name {
    white-space: pre;
    font-family: var(--fonts-display);
    font-weight: bold;
    font-size: 9vw;
    color: var(--colors-secondary-text);
  }

  .ampersand {
    font-size: 30vw;
  }
}

@media (min-width: 700px) and (min-aspect-ratio: 1/1) {
  .names {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 7vw;
  }

  .ampersand {
    font-size: 23vw;
  }

  .name + .ampersand {
    margin-top: 0;
    margin-left: 2.28571429vw;
  }

  .ampersand + .name {
    margin-left: 2.28571429vw;
  }
}
