.root {
  position: relative;
  display: block;
}
.root.active {
}
.root.hasValue {
}

.label {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: var(--fonts-mono);
  font-size: 1rem;
  font-weight: 300;
  color: var(--colors-light-text);
  transform: translateX(-50%);
}
.root.active .label {
  color: var(--colors-dark-text);
}

.input {
  position: relative;
  z-index: 2;
  padding: 0.3em 0.3em 0.5em;
  width: 100%;
  border: double 3px var(--colors-light-text);
  background: transparent;
  outline: none;
  font-family: var(--fonts-display);
  font-size: 9.5vw;
  line-height: 1.3em;
  text-align: left;
  text-transform: capitalize;
  color: var(--colors-light-text);
}
.root.active .input {
  border: double 3px var(--colors-dark-text);
  color: var(--colors-dark-text);
}
.root.hasValue .input {
  color: var(--colors-dark-text);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.3em 0.3em 0.5em;
  width: 100%;
  border: double 3px transparent;
  background: transparent;
  outline: none;
  font-family: var(--fonts-display);
  font-size: 9.5vw;
  line-height: 1.3em;
  text-align: left;
  text-transform: capitalize;
  color: var(--colors-light-text);
}

.input + .suggestion {
  margin-top: 1em;
}

.suggestion {
  display: block;
  font-family: var(--fonts-mono);
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  color: var(--colors-dark-text);
  cursor: pointer;
}
.suggestion strong {
  font-family: var(--fonts-display);
  font-weight: bold;
  font-size: 1em;
  color: var(--colors-dark-text);
  white-space: nowrap;
}
