.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
  width: 100vw;
  min-height: 100vh;
}

.registry,
.rsvp {
  position: absolute;
  top: 3rem;
}
.registry {
  left: 2.5%;
}
.rsvp {
  right: 2.5%;
}
.lodging {
  position: absolute;
  top: 14rem;
  right: 2.5%;
}
.schedule {
  position: absolute;
  top: 16rem;
  left: 2.5%;
}

.date {
}
.date + .names {
  margin-top: 4rem;
}

@media (min-width: 500px) {
  .date {
    display: none;
  }
  .date + .names {
    margin-top: 0;
  }
}

.names {
}

.names + .details {
  margin-top: 4rem;
}

.details {
}
